/** Basic Bootstrap Classes for Anytime Booking Search Widget **/

#search_container button, input, select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #FFFFFF;
	background-image: none;
	border: 5px solid #CCCCCC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#search_container label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 500;
}
#search_container .btn-minus {
	border-radius: 4px 0px 0px 4px !important
}
#search_container .btn-plus {
	border-radius: 0px 4px 4px 0px !important;
}
#search_container .btn-number {
	margin-top: 0px;
}
#search_container .btn:active:focus, .btn:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
#search_container .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none;
}
#search_container .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#search_container .btn {
	color: #FFFFFF;
	background-color: #337AB7;
	border-color: #2E6DA4;
}
#search_container .btn:focus {
	color: #FFFFFF;
	background-color: #337AB7;
	border-color: #2E6DA4;
}
#search_container .btn:hover {
	color: #FFFFFF;
	background-color: #286090;
	border-color: #286090;
}
#search_container .btn:active {
	color: #FFFFFF;
	background-color: #337AB7;
	border-color: #2E6DA4;
}
#search_container .btn:active:focus, .btn:active:hover {
	color: #FFFFFF;
	background-color: #337AB7;
	border-color: #2E6DA4;
}
#search_container .btn:active {
	background-image: none;
}
#search_container #pet_column {
	margin-top: 35px;
}
#search_container #pet_column input {
	display: inline;
	width: auto;
	height: auto;
	margin-left: 10px;
}
#search_container #search_button {
	margin-top: 5px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width:768px) {
	.container {
		width: 750px;
	}
}
@media (min-width:992px) {
	.container {
		width: 970px;
	}
}
@media (min-width:1200px) {
	.container {
		width: 1170px;
	}
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
@media (min-width:768px) {
	.col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
		float: left;
	}
	.col-sm-4 {
		width: 33.33333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.66666667%
	}
	.col-sm-1 {
		width: 8.33333333%
	}
}
